<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Landing GTA 6</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
	@import "tailwindcss";
  html,
  body {
    background: #111;
    height: 300vh;
    overflow-x: hidden;
    overscroll-behavior: none;
    color: white;
    margin: 0;
    width: 100%;
		
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
